<footer>
  <!--? Footer Start-->
  <div class="footer-area footer-bg">
    <div class="container">
      <div class="footer-top footer-padding">
        <!-- footer Heading -->
        <div class="footer-heading">
          <div class="row justify-content-between">
            <div class="col-xl-6 col-lg-7 col-md-10">
              <div class="footer-tittle2">
                <h4>Stay Updated</h4>
              </div>
              <!-- Form -->
              <div class="footer-form mb-50">
                <div id="mc_embed_signup">
                  <form target="_blank"
                        action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                        method="get" class="subscribe_form relative mail_part" novalidate="true">
                    <input type="email" name="EMAIL" id="newsletter-form-email"
                           placeholder=" Email Address " class="placeholder hide-on-focus"
                           onfocus="this.placeholder = ''"
                           onblur="this.placeholder = 'Your email address'">
                    <div class="form-icon">
                      <button type="submit" name="submit" id="newsletter-submit"
                              class="email_icon newsletter-submit button-contactForm">
                        Subscribe Now
                      </button>
                    </div>
                    <div class="mt-10 info"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-lg-5">
              <div class="footer-tittle2">
                <h4>Let’s Get Social</h4>
              </div>
              <!-- Footer Social -->
              <div class="footer-social">
                <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                <a href="dissertation-service.html"><i class="fab fa-twitter"></i></a>
                <a href="dissertation-service.html"><i class="fab fa-google"></i></a>
                <a href="dissertation-service.html"><i class="fab fa-instagram"></i></a>
                <a href="dissertation-service.html"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer Menu -->
        <div class="row d-flex justify-content-between">
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>About Us</h4>
                <ul>
                  <li><a href="dissertation-service.html">About</a></li>
                  <li><a href="dissertation-service.html">Services</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Subjects</h4>
                <ul>
                  <li><a href="dissertation-service.html">Management</a></li>
                  <li><a href="dissertation-service.html">Arts</a></li>
                  <li><a href="dissertation-service.html">Information Technology</a></li>
                  <li><a href="dissertation-service.html">Networking</a></li>
                  <li><a href="dissertation-service.html">Computer Programming</a></li>
                  <li><a href="dissertation-service.html">Law</a></li>
                  <li><a href="dissertation-service.html">Finance</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Book an Assignment</h4>
                <ul>
                  <li><a href="#get-quote">Get Free Quote</a></li>
                  <div class="hero__btn">
                    <a href="book-assignment.php" class="btn hero-btn" data-animation="fadeInLeft"
                       data-delay=".8s">Book Assignment</a>
                  </div>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Support</h4>
                <ul>
                  <li><a href="dissertation-service.html">Privacy Policy</a></li>
                  <li><a href="dissertation-service.html">Terms & Conditions</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer Bottom -->
      <div class="footer-bottom">
        <div class="row d-flex align-items-center">
          <div class="col-lg-12">
            <div class="footer-copy-right text-center">
              <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved <a href="" target="_blank">Sandhu Assignment Help</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End-->
</footer>

<!-- Scroll Up -->
<div id="back-top">
  <a title="Go to Top" href="dissertation-service.html"> <i class="fas fa-level-up-alt"></i></a>
</div>
