<!--? Preloader Start -->
<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
      <div class="preloader-circle"></div>
      <div class="preloader-img pere-text">
        <img src="assets/img/logo/loder.png" alt="">
      </div>
    </div>
  </div>
</div>
<!-- Preloader Start -->

<header>
  <!-- Header Start -->
  <div class="header-area">
    <div class="main-header ">
      <div class="header-bottom header-sticky">
        <!-- Logo -->
        <div class="logo d-none d-lg-block">
          <a href="/"><img src="/themes/custom/sah/assets/img/logo/logo1.png" alt=""></a>
        </div>
        <div class="container">
          <div class="menu-wrapper">
            <!-- Logo -->
            <div class="logo logo2 d-block d-lg-none">
              <a href="/"><img src="/themes/custom/sah/assets/img/logo/logo1.png" alt=""></a>
            </div>
            <!-- Main-menu -->
            <div class="main-menu d-none d-lg-block">
              <nav>
                <ul id="navigation">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="services.html">Services</a>
                    <ul class="submenu">
                      <li><a href="dissertation-service.html">Dissertation</a></li>
                      <li><a href="dissertation-service.html">Essays</a></li>
                      <li><a href="dissertation-service.html">Reports</a></li>
                      <li><a href="dissertation-service.html">Computer Programming</a></li>
                      <li><a href="dissertation-service.html">Web Development</a></li>
                      <li><a href="dissertation-service.html">Online Tests</a></li>
                    </ul>
                  </li>
                  <li><a href="instructor.html">Subjects</a>
                    <ul class="submenu">
                      <li><a href="dissertation-service.html">Management</a></li>
                      <li><a href="dissertation-service.html">Arts</a></li>
                      <li><a href="dissertation-service.html">Information Technology</a></li>
                      <li><a href="dissertation-service.html">Networking</a></li>
                      <li><a href="dissertation-service.html">Computer Programming</a></li>
                      <li><a href="dissertation-service.html">Law</a></li>
                      <li><a href="dissertation-service.html">Finance</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="login-page.html"><i class="ti-user"></i>&nbsp;&nbsp;Login</a></li>
                  <li><a href="login-page.html"><i class="ti-lock"></i>&nbsp;&nbsp;Register</a></li>
                  <li><a href="courses.html" class="mobile-btn hide">Place a Booking</a></li>
                </ul>
              </nav>
            </div>
            <!-- Header-btn -->
            <div class="header-search d-none d-lg-block">
              <div class="hero__btn">
                <a href="#get-quote" class="btn hero-btn" data-animation="fadeInLeft"
                   data-delay=".8s">Place a Booking</a>
              </div>
            </div>
          </div>
          <!-- Mobile Menu -->
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>
