.alert-wrapper {
  position: fixed;
  bottom: 20px;
  width: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 9999;
}

.alert-wrapper .alert {
  box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.2);
}

.alert-wrapper .alert-message {
  text-align: justify;
}

/* Global form css */
.sah-form {
  padding: 50px 20%;
}
input, select {
  height: 40px !important;
}
select {
  color: #3b3b3b;
  border: 1px solid #ccc;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  line-height: 1.5;
  font-family: inherit;
  box-sizing: border-box;
  max-width: 100%;
  border-radius: .25rem;
  margin: 2px 0 0 !important;
}

.js-form-file {
  padding: 3px !important;
}

.js-filter-wrapper {
  display: none;
}

@media only screen and (max-width: 992px){
  .sah-form {
    padding: 50px 5%;
  }
}

/* Global Tabs/Pills css */
.nav-pills a {
  color: #2d3092;
}
.nav-pills a:hover {
  color: #2d3092;
  background-color: rgba(45, 48, 146, 0.14);
}
.nav.nav-pills {
  border-bottom: 2px solid #2d3092;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #2d3092 !important;
}
.nav-pills .nav-link {
  border-radius: 0 !important;
  /*border-radius: 0.35em 0.35em 0 0 !important;*/
}
/* Comment Css */
.comment__content h3, .comment__content .links {
  display: none !important;
}
.comment__content {
  min-height: 82px;
  display: flex;
  align-items: center;
}
.comment {
  display: flex;
}
.comment .comment__meta {
  display: flex;
  flex-direction: column;
  min-width: 160px;
}
.comment .comment__meta .comment__time {
  margin-top: 10px;
  font-weight: bold;
}
.comment .comment__permalink {
  display: none;
}
