.alert-wrapper {
  position: fixed;
  bottom: 20px;
  width: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 9999;
}

.alert-wrapper .alert {
  box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.2);
}

.alert-wrapper .alert-message {
  text-align: justify;
}

/* Global form css */
.sah-form {
  padding: 50px 20%;
}
input, select {
  height: 40px !important;
}
select {
  color: #3b3b3b;
  border: 1px solid #ccc;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  line-height: 1.5;
  font-family: inherit;
  box-sizing: border-box;
  max-width: 100%;
  border-radius: .25rem;
  margin: 2px 0 0 !important;
}

.js-form-file {
  padding: 3px !important;
}

.js-filter-wrapper {
  display: none;
}

@media only screen and (max-width: 992px){
  .sah-form {
    padding: 50px 5%;
  }
}

/* Global Tabs/Pills css */
.nav-pills a {
  color: #2d3092;
}
.nav-pills a:hover {
  color: #2d3092;
  background-color: rgba(45, 48, 146, 0.14);
}
.nav.nav-pills {
  border-bottom: 2px solid #2d3092;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #2d3092 !important;
}
.nav-pills .nav-link {
  border-radius: 0 !important;
  /*border-radius: 0.35em 0.35em 0 0 !important;*/
}
/* Comment Css */
.comment__content h3, .comment__content .links {
  display: none !important;
}
.comment__content {
  min-height: 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.comment__content .field--name-field-comment-attachments {
  margin-top: 20px;
}
.comment-wrapper textarea {
  padding: 20px;
}
.comment-wrapper label {
  width: 100%;
}
.comment-form .form-item .description {
  margin-left: 0;
  margin-top: 10px;
}
.comment {
  display: flex;
}
.comment .comment__meta {
  display: flex;
  flex-direction: column;
  min-width: 160px;
}
.comment .comment__meta .comment__time {
  margin-top: 10px;
  font-weight: bold;
}
.comment .comment__permalink {
  display: none;
}
.comment-form .js-form-file {
  width: 100% !important;
  padding: 7px !important;
}

/* Hide Draggable icon */
.draggable .tabledrag-handle {
  display: none;
}

/* Empty view Results CSS */
.view-empty .alert {
  text-align: center;
}

/* Student View Header Css */
.view-header .student-details {
  text-align: center;
}

/* Global View Exposed Form CSS */
.view-filters .sah-form {
  padding: 0;
}
.view-filters .form--inline {
  display: flex;
  flex-wrap: wrap;
}

.view-filters #edit-actions {
  flex-basis: 100%;
}
.view-filters .form-item {
  width: 32%;
  min-width: 32%;
  max-width: 32%;
}
.view-filters .form-item .description {
  display: none;
}

@media (max-width: 767px) {
  .view-filters .form-item {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}
/* Batch Process CSS */
.progress {
  height: auto !important;
  background-color: #fff !important;
}
.progress #updateprogress{
  width: 100%;
  display: flex;
  font-size: 24px;
  flex-wrap: wrap;
}
.progress #updateprogress .progress__track{
  width: 90%;
}
.progress #updateprogress .progress__percentage{
  padding-left: 15px;
  margin-top: -2px;
}
.progress #updateprogress .progress__description{
  flex-basis: 100%;
}

/* Views Data Export CSV Button CSS */
.feed-icons .csv-feed a {
  text-transform: uppercase;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  border: 1px solid #2d3092;
  padding: 8px 12px;
  color: transparent;
  border-radius: 2px;
  background-image: none;
  height: 48px;
  width: 320px;
  max-width: 100%;
  margin-top: 8px;
  position: relative;
  text-indent: 0;
}
.feed-icons .csv-feed a:after {
  content: "download csv";
  text-transform: uppercase;
  font-size: 14px;
  color: #2d3092;
  font-weight: 600;
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.feed-icons .csv-feed a:hover {
  background-color: #2d3092;
}
.feed-icons .csv-feed a:hover::after {
  color: #fff;
}
/* Comment Action Wrapper css */
.comment-action-wrapper a{
  font-size: 13px;
  border-radius: 4px;
  margin-right: 12px !important;
}
