<!--? Preloader Start -->
<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
      <div class="preloader-circle"></div>
      <div class="preloader-img pere-text">
        <img src="/themes/custom/sah/assets/img/logo/loder.png" alt="">
      </div>
    </div>
  </div>
</div>
<!-- Preloader Start -->

<header>
  <!-- Header Start -->
  <div class="header-area">
    <div class="main-header ">
      <div class="header-bottom header-sticky">
        <!-- Logo -->
        <div class="logo d-none d-lg-block">
          <a href="/"><img src="/themes/custom/sah/assets/img/logo/logo1.png" alt=""></a>
        </div>
        <div class="container">
          <div class="menu-wrapper">
            <!-- Logo -->
            <div class="logo logo2 d-block d-lg-none">
              <a href="/"><img src="/themes/custom/sah/assets/img/logo/logo1.png" alt=""></a>
            </div>
            <!-- Main-menu -->
            <div class="main-menu d-none d-lg-block">
              <nav>
                <ul id="navigation">
                  <li><a href="/">Home</a></li>
                  <li><a href="/about-us">About</a></li>
                  <li><a href="javascript:void(0);">Services</a>
                    <ul class="submenu">
                      <li><a href="/services/dissertation">Dissertation</a></li>
                      <li><a href="/">Essays</a></li>
                      <li><a href="/">Reports</a></li>
                      <li><a href="/">Computer Programming</a></li>
                      <li><a href="/">Web Development</a></li>
                      <li><a href="/">Online Tests</a></li>
                    </ul>
                  </li>
                  <li><a href="javascript:void(0);">Subjects</a>
                    <ul class="submenu">
                      <li><a href="/">Management</a></li>
                      <li><a href="/">Arts</a></li>
                      <li><a href="/">Information Technology</a></li>
                      <li><a href="/">Networking</a></li>
                      <li><a href="/">Computer Programming</a></li>
                      <li><a href="/">Law</a></li>
                      <li><a href="/">Finance</a></li>
                    </ul>
                  </li>
                  <li><a href="/contact-us">Contact</a></li>
                  {% if logged_in %}
                    <li><a href="javascript:void(0);">Dashboard</a>
                      <ul class="submenu">
                        <li><a href="/user">My Account</a></li>
                        {% set roles = user.getroles(TRUE) %}
                        {% if 'administrator' in roles or 'manager' in roles %}
                          <li><a href="/manage/assignments">All Assignments</a></li>
                          <li><a href="/manage/students">All Students</a></li>
                          <li><a href="/admin/quote-price">Set Quotation Price</a></li>
                          <li><a href="/manage/quotation-submissions">All Quotation Submissions</a></li>
                        {% else %}
                          <li><a href="/assignments">My Assignments</a></li>
                        {% endif %}
                      </ul>
                    </li>
                    <li><a href="/user/logout"><i class="ti-user"></i> Logout</a></li>
                  {% else %}
                    <li><a href="/user/register"><i class="ti-lock"></i>&nbsp;&nbsp;Register</a></li>
                    <li><a href="/user/login"><i class="ti-user"></i>&nbsp;&nbsp;Login</a></li>
                  {% endif %}
                  <li><a href="/book-assignment" class="mobile-btn hide">Place a Booking</a></li>
                </ul>
              </nav>
            </div>
            <!-- Header-btn -->
            <div class="header-search d-none d-lg-block">
              <div class="hero__btn">
                <a href="/book-assignment" class="btn hero-btn" data-animation="fadeInLeft"
                   data-delay=".8s">Place a Booking</a>
              </div>
            </div>
          </div>
          <!-- Mobile Menu -->
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>
