{% include "@sah/header.html.twig" %}

<main>
  <div class="testimonial-area section-bg" id="get-quote">
    <div class="categories-area ">
      <div class="container">
        <div class="row justify-content-sm-center">
          <div class="cl-xl-7 col-lg-8 col-md-10">
            <!-- Section Tittle -->
            <div class="section-tittle text-center mb-70">
              <span>Assignment Help Service</span>
              <h2>Dissertation</h2>
            </div>
          </div>
        </div>
        <div class="row services-temp">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <p>A Dissertation is a long academic essay written after gaining in-depth knowledge of a subject
              using formal research. Thus Dissertation as a form of academic writing differ from other
              type of academic assessments and is a real test of capabilities of a student. In this form
              of academic assessment, leaner is expected to take full responsibility of his own learning
              starting from choosing the topic, selecting the method of study and concluding the outcomes
              in the end. Since lot of complexities are involved around dissertation writing, we decided
              to come up with a dissertation guide to help students in this difficult journey.</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <img src="/themes/custom/sah/assets/img/gallery/dissertation-writing-services.jpg" alt="">
          </div>
        </div>
        <div class="row services-temp services-temp2">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <img src="/themes/custom/sah/assets/img/gallery/home-blog2.png" alt="">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <h3>How we can help in writing a Dissertation?</h3>
            <p>Sandhu Assignment Help is there to help students in writing their dissertation. In
              dissertation writing requires it’s very important that a student gets critical inputs at the
              right time. We are here to assist you from choosing the research topic to providing a
              structure to your dissertation thesis to enable you to score good grades. We are providing
              such services to students in over 9 countries through our online platforms. Dissertations
              are a hard nut to crack and we could easily empathize with students who are facing problems
              while writing them. Choosing topics for research, submission time and deadlines, unique
              research objectives, providing a structure to your thoughts are some of the common headaches
              students face each day.</p>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <p>We are having some of the best academic writers with us who can provide customize solutions
              to your dissertation writing problems. They are highly experienced in writing dissertation
              thesis and have many years of professional experience. We assure you that students will not
              face any problems once they are with us. Well, before submitting a request, you can go
              through the samples which are provided on the website. To avail our service, you can just
              submit the details on our website or have a chat with our representative and they will guide
              you through.</p>
          </div>
        </div>
        <div class="row services-temp services-temp2">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="hero__btn" style="display: flex; justify-content: center">
              <a href="/book-assignment" class="btn hero-btn" data-animation="fadeInLeft" data-delay=".8s">Book Assignment</a>
            </div>
          </div>
        </div>
      </div>
      <!--? Categories Area Start -->
      {% include "@sah/static-services-grid.html.twig" %}
      <!-- Categories Area End -->
    </div>
  </div>
</main>

{% include "@sah/footer.html.twig" %}
