{% include "@sah/header.html.twig" %}

{% if page.highlighted %}
  <div class="highlighted">
    <aside class="layout-container section clearfix" role="complementary">
      {{ page.highlighted }}
    </aside>
  </div>
{% endif %}


<main>
  <!--? Hero Start -->
  <div class="slider-area ">
    <div class="slider-height2 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap hero-cap2 text-center">
              <h2>Contact Us</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero End -->
  <!-- ================ contact section start ================= -->
  <section class="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Get in Touch</h2>
        </div>
        <div class="col-lg-8">
          <form class="form-contact contact_form" action="{{ url('sah_modifications.default_controller_get_in_touch') }}" method="post" id="contactForm"
                novalidate="novalidate">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control valid single-input-primary" name="name" id="name" type="text" placeholder="Enter your name" required="required">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control valid single-input-primary" name="email" id="email" type="email" placeholder="Email" required="required">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <input class="form-control single-input-primary" name="subject" id="subject" type="text" placeholder="Enter Subject" required="required">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                                    <textarea class="form-control w-100 single-input-primary" name="message"
                                              id="message" cols="30" rows="5"
                                              placeholder=" Enter Message" required="required"></textarea>
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="submit" class="button button-contactForm boxed-btn" value="Send">
            </div>
          </form>
        </div>
        <div class="col-lg-3 offset-lg-1">
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-home"></i></span>
            <div class="media-body">
              <h3>21 Shaw Drive, Rathscar West,</h3>
              <p>Victoria, 3465</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
            <div class="media-body">
              <h3>+91 6206 444 506</h3>
              <p>Mon to Sun 24-Hour Service</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
              <h3><a href="mailto:admin@sandhuassignmenthelp.com">admin@sandhuassignmenthelp.com</a></h3>
              <p>Send us your query anytime!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ contact section end ================= -->
</main>

{% include "@sah/footer.html.twig" %}
