{% include "@sah/header.html.twig" %}

{% if page.highlighted %}
  <div class="highlighted">
    <aside class="layout-container section clearfix" role="complementary">
      {{ page.highlighted }}
    </aside>
  </div>
{% endif %}

<main>
  <!--? slider Area Start-->
  <div class="slider-area ">
    <div class="slider-height2 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap hero-cap2 text-center">
              <h2>Services</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- slider Area End-->
  <div class="testimonial-area section-bg" id="get-quote">
    <!--? Categories Area Start -->
    {% include "@sah/static-services-grid.html.twig" %}
    <!-- Categories Area End -->
  </div>
</main>

{% include "@sah/footer.html.twig" %}
