{% include "@sah/header.html.twig" %}

<main style="padding-bottom: 40px;">
  <div class="testimonial-area section-bg" id="get-quote">
    <br>

    <!--? Categories Area Start -->
    <div class="categories-area ">
      <div class="container">
        <div class="row justify-content-sm-center">
          <div class="cl-xl-7 col-lg-8 col-md-10">
            <!-- Section Tittle -->
            <div class="section-tittle text-center mb-70">
              <span>Read to avoid any dispute or confusion</span>
              <h2>Terms &amp; Conditions</h2>
            </div>
          </div>
        </div>
        <div class="row services-temp">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <p>We request you to read our terms and conditions before you hire us for your task. Read them thoroughly because once you place your order, you will be considered agreeing to all of our stipulations. In case you do not agree with any of our clause, you are advised to immediately cease the use of our service. In the following terms and conditions, 'we', 'us', 'our' and 'assignment help service' refer to www.sandhuassignmenthelp.com and 'you' refers to all the visitors or the users of our services.</p>

            <p>All the assignments and materials written by us are exclusively our property i.e. we have the copyright over them. However, the completed orders /assignments are meant for your institutional purpose only. Unauthorized sale or distribution of the original assignments without our consent is strictly not allowed.</p>

            <p>It must be noted that despite offering the best assignment writing help service, we do not hundred percent guarantee 'A' grade result or the highest marks.</p>

            <p>We reserve the right to adjust the price whenever considered necessary.</p>

            <p>The price is set as per the limit and package of the assignment so, the price can be modified in case the assignment exceeds the specified offer limits.</p>

            <p>You are liable to pay additional charges if you ask for any kind of modification in your assignment once you have placed your order and made the payment.</p>

            <p>We can't be held responsible for any late delivery if the instructions and information are wrongly communicated by you or you modify the instructions after having placed the order.</p>

            <p>Also, we are not responsible for the delay in the delivery of your order if you delay the payment. Our tutors start working on your assignment only when necessary payment is made.</p>

            <p>You will have to pay separately for every additional service that you ask for after placing the order. The additional services are provided only when the additional charges are paid by you.</p>

            <p>We are not responsible for any theft from your bank account because we do not store your credit card details neither do we share any of your details with third parties.</p>

            <p>Use of an unauthorized credit card by you is strictly prohibited and will be considered crime which will immediately be reported to the police.</p>

            <p>It is your responsibility to clearly define and communicate each and every instructions of your task to us. None of the instructions should contradict any of the previously conveyed instructions.</p>

            <p>We are legally authorized to make the full use of the time period of the said deadline and hence, we are not liable to deliver you the complete order before the said deadline. However, we can consider the early delivery of your order in case you request us and give appropriate reasons but it must be noted that any early delivery of the assignment will be solely our discretion.</p>

            <p>The price paid by you includes the charges of proofreading facility. However, if your assignment exceeds the standard time limit, then the proofreading facilities will result to additional charges.</p>

            <p>Despite having professionals who help in the smooth operations of our website, it is not guaranteed by us that the access to our website will be cent percent error-free.</p>

            <p>We can't be held responsible for the failure of a student because writing an assignment is a subjective matter.</p>

            <p>We also offer 'reworks' in case a student gets a poor grade due to our service. It must be kept in mind that we do not refund the money in these cases for the simple reason that every assignment is treated as a product and the moment it is delivered to you, it is considered as the product (assignment) is sold. For the refunds, please read our Refund policy" section.</p>

            <p>We reserve the sole right to terminate the entire or part of service agreement at any time.</p>
          </div>
        </div>
        <!-- Categories Area End -->
      </div>
    </div>
  </div>
</main>

{% include "@sah/footer.html.twig" %}
