{% include "@sah/header.html.twig" %}

<main style="padding-bottom: 40px;">
  <div class="testimonial-area section-bg" id="get-quote">
    <!--? Categories Area Start -->
    <div class="categories-area ">
      <div class="container">
        <div class="row justify-content-sm-center">
          <div class="cl-xl-7 col-lg-8 col-md-10">
            <!-- Section Tittle -->
            <div class="section-tittle text-center mb-70">
              <span>Saying out loud</span>
              <h2>Privacy Policies</h2>
            </div>
          </div>
        </div>
        <div class="row services-temp">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <p>Our entire team is privileged for your trust in us. We have done our best to come up with such a privacy policy that protects all your details and information and keeps them confidential. However, we advise you to please read the following privacy policies before giving your assignments and tasks to us:</p>

            <p>All the personal details of the students like their name, contact number, email id etc. are kept strictly within the company. We never share these details with any third party.</p>

            <p>Information about our tutors are not shared with any third party.</p>

            <p>We have a very safe, secure and cryptic payment portal for the money transactions. The information of your credit card remains in the system’s cache memory only till the time you keep the transaction window opened on your screen. The moment you affirm the transaction or even close the window, the cache memory of the system deletes all temporary information stored relating to the transaction. Therefore, there is no chance of leakage of any of your transactional information via our servers.</p>

            <p>We reserve the right to disclose your personal information as required by the law. The information will be disclosed only when it becomes necessary for us to protect and safeguard our rights or to comply with any judicial proceeding, court order or legal process served on our website.</p>

            <p>There is a quality review department in our company which assures that the assignments written by our tutors are plagiarism free. All the written materials are thoroughly checked through various plagiarism finding tools before they are dispatched to you.</p>

            <p>We reserve the right to modify any of our privacy policy any time we may deem necessary without intimating you. So, you must review our privacy policies frequently to avoid any confusion.</p>
          </div>
        </div>
        <!-- Categories Area End -->
      </div>
    </div>
  </div>
</main>

{% include "@sah/footer.html.twig" %}
