{% include "@sah/header.html.twig" %}

<main>
  <div class="testimonial-area section-bg" id="get-quote">
    <div class="categories-area ">
      <div class="container">
        <div class="row justify-content-sm-center">
          <div class="cl-xl-7 col-lg-8 col-md-10">
            <!-- Section Tittle -->
            <div class="section-tittle text-center mb-70">
              <span>Assignment Help Service</span>
              <h2>Design and App Development</h2>
            </div>
          </div>
        </div>
        <div class="row services-temp">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <h3>We Cover All Kinds Of Application Development Assignments!</h3><br>
            <p><b>Android App Development</b>: We can provide adequate assistance in developing an Android app. Our team of programming experts is quite efficient in providing programming assistance on Android app designing depending on your need.</p>
            <p><b>iOS App Development</b>: iOS is a mobile operating system that is specially designed for the products created by Apple Inc. Developing iOS App may seem difficult as it requires programming expertise of professional level. Resolve all complex queries with our web programming assignment help.</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <img src="/themes/custom/sah/assets/img/gallery/mobile-app-development-assignment-help.jpg" alt="">
          </div>
        </div>
        <div class="row services-temp services-temp2">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <img src="/themes/custom/sah/assets/img/gallery/adobe.jpg" alt="">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <h3>One-step soluitions to Web and Graphic Designing Assignments</h3>
            <p>
              Website and graphic designing allows a programmer to gather data and arrange them aesthetically for a specific purpose. If you have any queries regarding this field, connect with the online programming help experts at MyAssignmenthelp.com. Our experts can help you get a solution to any computer language problem. We use Adobe products like Photoshop, Illustrator, XD and After Effects to create you the best of design solutions for your graphics, web or video assignments.</p>
          </div>
        </div>
        <div class="row services-temp services-temp2">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="hero__btn" style="display: flex; justify-content: center">
              <a href="/book-assignment" class="btn hero-btn" data-animation="fadeInLeft" data-delay=".8s">Book Assignment</a>
            </div>
          </div>
        </div>
      </div>
      <!--? Categories Area Start -->
      {% include "@sah/static-services-grid.html.twig" %}
      <!-- Categories Area End -->
    </div>
  </div>
</main>

{% include "@sah/footer.html.twig" %}
