<div class="categories-area section-padding30">
  <div class="container">
    <div class="row justify-content-sm-center">
      <div class="cl-xl-7 col-lg-8 col-md-10">
        <!-- Section Tittle -->
        <div class="section-tittle text-center mb-70">
          <span>Popular Assignment Help Services</span>
          <h2>Let's Browse All Services</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-cat mb-50">
          <div class="cat-icon">
            <span class="flaticon-education"></span>
          </div>
          <div class="cat-cap">
            <h5><a href="/services/dissertation">Dissertations</a></h5>
            <p>Sandhu Assignment Help is there to help students in writing their dissertation. In
              dissertation writing requires</p>
            <a href="/services/dissertation" class="read-more1">Read More ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-cat mb-50">
          <div class="cat-icon">
            <span class="flaticon-education"></span>
          </div>
          <div class="cat-cap">
            <h5><a href="/">Essays</a></h5>
            <p>Sorem hpsum folor sixdsft amhtget, consectetur adipiscing eliht, sed do eiusmod
              tempor incidi.</p>
            <a href="/" class="read-more1">Read More ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-cat mb-50">
          <div class="cat-icon">
            <span class="flaticon-education"></span>
          </div>
          <div class="cat-cap">
            <h5><a href="/">Reports</a></h5>
            <p>Sorem hpsum folor sixdsft amhtget, consectetur adipiscing eliht, sed do eiusmod
              tempor incidi.</p>
            <a href="/" class="read-more1">Read More ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-cat mb-50">
          <div class="cat-icon">
            <span class="flaticon-tools-and-utensils"></span>
          </div>
          <div class="cat-cap">
            <h5><a href="/">Online Tests</a></h5>
            <p>Sorem hpsum folor sixdsft amhtget, consectetur adipiscing eliht, sed do eiusmod
              tempor incidi.</p>
            <a href="/" class="read-more1">Read More ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-cat mb-50">
          <div class="cat-icon">
            <span class="flaticon-computing"></span>
          </div>
          <div class="cat-cap">
            <h5><a href="/">Computer Programming</a></h5>
            <p>Sorem hpsum folor sixdsft amhtget, consectetur adipiscing eliht, sed do eiusmod
              tempor incidi.</p>
            <a href="/" class="read-more1">Read More ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-cat mb-50">
          <div class="cat-icon">
            <span class="flaticon-web-design"></span>
          </div>
          <div class="cat-cap">
            <h5><a href="/">Web and App Development</a></h5>
            <p>Sorem hpsum folor sixdsft amhtget, consectetur adipiscing eliht, sed do eiusmod
              tempor incidi.</p>
            <a href="/" class="read-more1">Read More ></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Find more service Button -->
{#    <div class="row">#}
{#      <div class="col-lg-12">#}
{#        <div class="browse-btn2 text-center mt-50">#}
{#          <a href="/" class="btn">Find More Services</a>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
  </div>
</div>
