<div class="categories-area section-padding30">
  <div class="container">
    <div class="row justify-content-sm-center">
      <div class="cl-xl-7 col-lg-8 col-md-10">
        <!-- Section Tittle -->
        <div class="section-tittle text-center mb-70">
          <span>Popular Assignment Help Services</span>
          <h2>Let's Browse All Services</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-cat mb-50">
          <div class="cat-icon">
            <span class="flaticon-education"></span>
          </div>
          <div class="cat-cap">
            <h5><a href="/service/dissertation">Dissertations</a></h5>
            <p>Sandhu Assignment Help is there to help students in writing their dissertation...</p>
            <a href="/service/dissertation" class="read-more1">Read More ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-cat mb-50">
          <div class="cat-icon">
            <span class="flaticon-education"></span>
          </div>
          <div class="cat-cap">
            <h5><a href="/service/essay">Essays</a></h5>
            <p>Essay writing seems to be an easy task however, it requires a lot of hard work...</p>
            <a href="/service/essay" class="read-more1">Read More ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-cat mb-50">
          <div class="cat-icon">
            <span class="flaticon-education"></span>
          </div>
          <div class="cat-cap">
            <h5><a href="/service/report">Reports</a></h5>
            <p>We cater help with report writing in various disciplines i.e. engineering, business management...</p>
            <a href="/service/report" class="read-more1">Read More ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-cat mb-50">
          <div class="cat-icon">
            <span class="flaticon-tools-and-utensils"></span>
          </div>
          <div class="cat-cap">
            <h5><a href="/service/online">Online Tests</a></h5>
            <p>At Sandhu Assignment Help, we have a team of dedicated subject matter experts who have been ex-professors or Ph.D. holders in their respective subjects...</p>
            <a href="/service/online" class="read-more1">Read More ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-cat mb-50">
          <div class="cat-icon">
            <span class="flaticon-computing"></span>
          </div>
          <div class="cat-cap">
            <h5><a href="/service/programming">Computer Programming</a></h5>
            <p>Our team has a solution for every problem related to Programming assignments. We serve intending to meet all your academic needs...</p>
            <a href="/service/programming" class="read-more1">Read More ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-cat mb-50">
          <div class="cat-icon">
            <span class="flaticon-web-design"></span>
          </div>
          <div class="cat-cap">
            <h5><a href="/service/development">Web and App Development</a></h5>
            <p>Website and graphic designing allows a programmer to gather data and arrange them aesthetically for a specific purpose...</p>
            <a href="/service/development" class="read-more1">Read More ></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Find more service Button -->
    <div class="row">
      <div class="col-lg-12">
        <div class="browse-btn2 text-center mt-50">
          <a href="/services" class="btn">Find More Services</a>
        </div>
      </div>
    </div>
  </div>
</div>
