<div class="testimonial-area fix pt-90 pb-90 section-bg"
     data-background="/themes/custom/sah/assets/img/gallery/section_bg03.png">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-9 col-md-9">
        <div class="h1-testimonial-active">
          <!-- Single Testimonial -->
          <div class="single-testimonial pt-65">
            <!-- Testimonial tittle -->
            <div class="testimonial-icon mb-45">
              <img src="/themes/custom/sah/assets/img/gallery/testimonial.png" class="ani-btn " alt="">
            </div>
            <!-- Testimonial Content -->
            <div class="testimonial-caption text-center">
              <p>
                Sometimes, you could not find enough time to put your effort on writing worthy homework. So I decided to take help from Sandhu Assignment Help. Their writers proved my decision was the best, for my academic work with their top quality and prodigious services.
              </p>
              <!-- Rattion -->
              <div class="testimonial-ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <div class="rattiong-caption">
                <span> - Robert William</span>
              </div>
            </div>
          </div>
          <!-- Single Testimonial -->
          <div class="single-testimonial pt-65">
            <!-- Testimonial tittle -->
            <div class="testimonial-icon mb-45">
              <img src="/themes/custom/sah/assets/img/gallery/testimonial.png" class="ani-btn " alt="">
            </div>
            <!-- Testimonial Content -->
            <div class="testimonial-caption text-center">
              <p>
                I needed help with one of my most complex Java Programming projects. I looked up the internet and opted for Sandhu Assignment Help’s services. Their delivery was right on time and the expert solved all my doubts, even helped me to setup the project in my system through remote access.
              </p>
              <!-- Rattion -->
              <div class="testimonial-ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <div class="rattiong-caption">
                <span> - Kelly Janner</span>
              </div>
            </div>
          </div>
          <!-- Single Testimonial -->
          <div class="single-testimonial pt-65">
            <!-- Testimonial tittle -->
            <div class="testimonial-icon mb-45">
              <img src="/themes/custom/sah/assets/img/gallery/testimonial.png" class="ani-btn " alt="">
            </div>
            <!-- Testimonial Content -->
            <div class="testimonial-caption text-center">
              <p>
                I have two words to explicate the writing services of Sandhu Assignment help for their working ethics are Accuracy and Excellence. All my instructions were followed while drafting my academic papers. Get your high-quality customized papers at reasonable prices.
              </p>
              <!-- Rattion -->
              <div class="testimonial-ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <div class="rattiong-caption">
                <span> - Kelly Janner</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
